/* Container holding the image and the text */
body {
	margin: 0px;
}
.container {
  position: relative;
  text-align: center;
  height: 1024px;
  width: 100%;
  background: url("bunbun.png");
}

.topnav {
  overflow: hidden;
}

/* code from https://www.w3schools.com/howto/howto_css_searchbar.asp */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 200px;
  font-size: 30px;
  font-family: Reem Kufi;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 20px;
  right: 200px;
  font-size: 30px;
    font-family: Reem Kufi;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 100px;
  font-family: 'Nanum Brush Script', cursive;
  width:100%;
}

.top-right {
  position: absolute;
  top: -435px;
  right: 50px;
}

.centered-bottom {
position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  font-family: 'Nanum Brush Script', cursive;
  width:100%;
}

.top-left {
  position: absolute;
  top: -435px;
  left: 50px;
}

.centered1 {
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 100px;
  font-family: 'Nanum Brush Script', cursive;
}

.centered2 {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 100px;
  font-family: 'Nanum Brush Script', cursive;
  width:50%;
}



.topnav input[type=text] {
  float: right;
  padding: 10px;
  border: none;
  margin-top: 30px;
  margin-right: 200px;
  font-size: 17px;
  border-radius: 20px;

}

.search {
  float: right;
  padding: 10px;
  border: none;
  margin-top: 30px;
  margin-right: -230px;
  font-size: 17px;
  border-radius: 20px;
  background-color:white;
}

#explore a {
    border-radius: 20px;
    background-color: white;
    border: 1px solid black;
    padding: 15px;
    color: #826340;
    font-size: 30px;
}
