.container {
  position: relative;
  text-align: center;
  color: white;
}


/* Top left text */
.top-left {
  position: absolute;
  top: 20px;
  left: 30px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 25px;
  right: 30px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-family: Reem Kufi;
}

.topnav input[type=text] {
  position: absolute;
  float: right;
  padding: 10px;
  border: none;
  margin-top: 30px;
  font-size: 17px;
  border-radius: 20px;
  right:200px;

}

.search {
  position: absolute;
  float: right;
  padding: 10px;
  border: none;
  margin-top: 30px;
  font-size: 17px;
  border-radius: 20px;
  background-color:white;
 right:200px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 50px;
}

.etc {
  text-align:center;
  display:inline-block;
  padding:20px;
  margin:0px;
  padding-bottom: 0px
}

.food:hover {
  opacity: 0.3;
}

p {
  margin-top: -7px;
}

footer{
  padding-left:40%;
}